h1 {
  margin-bottom: 1em;
}

.pl, .pr, .tl {
  font-size: 1.2em;
}
.ts{
  font-size: 0.8em;
}

.ms {
  margin-left: 1em;
}
.me {
  margin-right: 1em;
}

.w33, .w40, .w50, .w66, .w75, .w90, .w90 {
  display: inline-block;
}

.w100 img { width: 100%; }
.w100 { width: 100%; }
.w90 { width: 90%; }
.w80 { width: 80%; }
.w75 { width: 75%; }
.w66 { width: 66%; }
.w50 { width: 50%; }
.w40 { width: 40%; }
.w33 { width: 33%; }

.source {
  font-size: 0.8em;
  position: absolute;
  bottom: 12px;
  margin-right: 5em;
}

.icon {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 15px;
}

.icon > img {
  width: 80%;
  height: 80%;
}

.source:before {
  content: "Source: ";
}

.pull-left, .pull-right, .pl, .pr {
  text-align: left;
}
.pl {
  float: left;
  width: 47%;
}
.pr {
  float: right;
  width: 47%;
}
.pr + * {
  clear: both;
}

.center {
  text-align: center;
}